.header {
    background-color: #ff0000;
    padding: 20px;
    text-align: center;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

body {
      background-color: bisque;
  }

  
 .footer {
 position: fixed;
 left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: left;
            }
            



 